main{
    max-width: 90rem;
    margin: 0 auto;
    padding: 7rem 5rem 6rem 5rem;
    font-family: 'Minion-Variable';
    color: black;
    padding-top: 10rem;
}
.manufacturing{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 8rem;
}
.materials{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
main .header h1{
    color: black;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;
    padding-bottom: 5rem;
    text-align: justify;
}
main h2{
    font-family: 'Elephant';
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 1rem;
    padding-top: 3rem;
}
main h3{
    font-family: 'Elephant';
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 100;
    padding-bottom: 1.2rem;
}
main h4{
    font-family: 'Minion-Variable';
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 1.2rem;
}
main p{
    text-align: justify;
    font-size: 1rem;
}
main img{
    width: 100%;
}

.manufacturing .grid .hand{
    display: grid;
    grid-template-columns: 56% 36%;
    column-gap: 8%;
}
.manufacturing .grid .dyeing{
    display: grid;
    grid-template-columns: 41.5% 50%;
    column-gap: 8.5%;
}
.manufacturing .grid .graph{
    display: grid;
    grid-template-columns: 50% 42%;
    column-gap: 8%;
}
.manufacturing .grid .tufting{
    display: grid;
    grid-template-columns: 43.3% 50%;
    column-gap: 6.7%;
}
.manufacturing .grid .carving{
    display: grid;
    grid-template-columns: 48% 41.4%;
    column-gap: 10.6%;
}
.materials .grid .wool{
    display: grid;
    grid-template-columns: 38.8% 41.2%;
    column-gap: 20%;
}
.materials .grid .silk{
    display: grid;
    grid-template-columns: 41.2% 49.8%;
    column-gap: 9%;
}
.materials .grid .plastic{
    display: grid;
    grid-template-columns: 38.7% 50%;
    column-gap: 11.3%;
}




@media (max-width: 75rem){
    main{
        padding: 0 2rem;
    }
}
@media (max-width: 60rem){
    main{
        padding: 0 1rem;
        padding-bottom: 5rem;
    }
    main .header h1{
        padding-top: 7rem;
        font-size: 1.35rem;
    }
    .manufacturing{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 7rem;
    }
    .materials{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .manufacturing .grid .hand{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufacturing .grid .dyeing{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufacturing .grid .graph{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufacturing .grid .tufting{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufacturing .grid .carving{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .materials .grid .wool{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .materials .grid .silk{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .materials .grid .plastic{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .reverse .dx{
        order: 1;
    }
    .reverse .sx{
        order: 2;
    }
}