/* FONT */
@font-face {
    font-family: "couture";
    src: url("font/couture-bld.otf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: "minion";
    src: url("font/Minion-Regular.woff") format("woff");
}
@font-face {
    font-family: "Minion-Variable";
    src: url("font/Minion-Variable-Concept.otf") format("opentype");
}
@font-face {
    font-family: "elephant";
    src: url("font/Elephant.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
html{
    color: #40413D;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 5rem 2rem 5rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    max-width: 90rem;
}
.navbar .logo{
    font-size: 1.2rem;
    font-family: 'couture';
    position: relative;
    z-index: 999;
}
.active{
    font-weight: 700;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
a{
    text-decoration: none;
    color: #40413D;
}
.navbar a {
    color: black;
}
footer{
    padding-top: 2.5rem;
    text-align: center;
    color: rgb(63, 63, 63);
    padding-bottom: 2rem;
    font-size: 0.9rem;
}
.navbar a.gray-text {
    color: rgb(66, 65, 61);
}
nav ul li{
    font-family: 'Minion-Variable';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(66, 65, 61) 
}
.line-up{
    width: 100%;
    height: 0.65rem;
    background-color: black;
    position: fixed;
    top: 0;
    left:0;
    z-index: 99;
}
.line-down{
    width: 100%;
    height: 0.65rem;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}
ul li .gray-text:hover{
    color: black;
}

.transition-1 {
    position: fixed;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100svh;
    z-index: 99999;
    background-color: #10261E;
    transition: 0.2s cubic-bezier(.215, .61, .355, 1);
    opacity: 1;
}
.transition-1.is-active {
    right: 0;
    border-radius: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transition-1 h2{
    font-size: clamp(2rem, 8vw, 4.5rem);
    font-family: 'couture';
    color: #5c5c5c;
    position: relative;
    font-weight: 100;
}
.transition-1 h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #DDDAD5;
    overflow: hidden;
    animation: animate 1.2s ease-in-out forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.line-up-transition{
    width: 100%;
    height: 0.65rem;
    background-color: #DDDAD5;
    position: absolute;
    top: 0;
    left:0;
}
.line-down-transition{
    width: 100%;
    height: 0.65rem;
    background-color: #DDDAD5;
    position: absolute;
    bottom: 0;
    left: 0;
}

#menuToggle{
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle a{
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease;
}
#menuToggle input{
    width: 26px;
    height: 25px;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 26px;
    height: 1px;
    margin-bottom: 6px;
    position: relative;
    background: #40413D;
    z-index: 1;
    transform-origin: 4px -1px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #DDDAD5;
    position: relative;
    z-index: 1000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    background-color: #10261E;
    position: absolute;
    max-width: 90rem;
    width: 100vw;
    height: 120vh;
    padding: 50px;
    top: -2.9rem;
    right: -5rem;
    padding-top: 30vh;
    padding-left: 5rem;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 50% 50%;
    transform: translate(300%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 999;
    box-shadow: -1px 0px 0px 1000px #10261E;
}
#menu h2{
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #DDDAD5;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'couture';
}
#menu li{
    padding-bottom: 2.6rem;
}
#menu li a{
    font-size: 3.5rem;
    color: #DDDAD5;
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
#menu li a:hover{
    color: #a8a5a1;
}
#menuToggle input:checked ~ ul{ transform: none; }



@media (max-width: 75rem){
    .navbar{
        padding: 2.2rem 2rem 1rem 2rem;
    }
    #menu{
        right: -2rem;
        padding-left: 2.5rem;
        padding-top: 28vh;
    }
    #menu li{
        padding-bottom: 2rem;
    }
    #menu li a{
        font-size: 2.2rem;
        text-transform: capitalize;
    }
}
@media (max-width: 60rem){
    .navbar{
        padding: 2.2rem 1rem 1rem 1rem;
    }
    #menu{
        right: -1rem;
        padding-left: 1rem;
        box-shadow: -1px 0px 0px 1px #10261E;
        padding-top: 22vh;
    }
    #menu li a{
        font-size: 1rem;
        text-transform: uppercase;
    }
    #menu li{
        padding-bottom: 0.8rem;
    }
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}