/* FONT */
@font-face {
    font-family: "couture";
    src: url("font/couture-bld.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "minion";
    src: url("font/Minion-Regular.woff") format("woff");
}
@font-face {
    font-family: "Minion-Variable";
    src: url("font/Minion-Variable-Concept.otf") format("opentype");
}
@font-face {
    font-family: "elephant";
    src: url("font/Elephant.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{overflow-x:hidden;}

/* SCROLL A SCATTO */
html{
    scroll-snap-type: y mandatory;
    font-family: 'Minion-Variable';
}
.landing,
.collection .header,
.collection .riga,
.about section,
.manufact .header,
.manufacturing h2,
.manufacturing .grid,
.materials h2,
.materials .grid,
.contact
{
    scroll-snap-align: start;
}
@media (max-width:60rem){  
    html{
        scroll-snap-type: none;
    }
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
} 
a{
    text-decoration: none;
}

/* NAVBAR */
nav{
    position: fixed;
    bottom: 3.5%;
    left: 4.5%;
    width: 26.5%;
    font-family: 'Minion-Variable';
    border-top: 0.1rem solid rgba(221,218,213);
    z-index: 5;
}
nav ul li{
    flex-grow: 1;
    text-align: center;
    display: flex;
}
nav ul li a{
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.2rem 0;
    width: 100% !important;
    color: rgba(93,93,89);
}
.active-voice{
    border-top: 0.12rem solid rgba(93,93,89);
    transform: translateY(-0.12rem);
    padding-bottom: 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 60rem){
    nav{display: none;}
}

/* LANDING */
.landing{
    position: relative;
    background-color: white;
    z-index:6;
}
.landing .grid{
    display: grid;
    grid-template-columns: 1fr auto;
}
.landing .grid .immagine {
    height: 100vh;
    position:relative;
    z-index: 99;
}
.landing .grid .immagine img{
    height: 100%;
}
.landing .grid .logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.landing .grid .logo h1{
    font-family: 'Couture', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: black;
	-webkit-animation: blurFadeInOut 2s ease-in-out forwards;
	-moz-animation: blurFadeInOut 2s ease-in-out forwards;
	-ms-animation: blurFadeInOut 2s ease-in-out forwards;
	animation: blurFadeInOut 2s ease-in-out forwards;
}
.quadrato-sopra{
    width:100%;
    height:50%;
    background-color: white;
    position: absolute;
    z-index:99999;
    top:0;
    left:0;
    animation: disappear 2.5s ease-in-out;
    animation-fill-mode: forwards;
}
.quadrato-sotto{
    width:100%;
    height:50%;
    background-color: white;
    position: absolute;
    z-index:99999;
    bottom:0;
    left:0;
    animation: disappear 2.5s ease-in-out;
    animation-fill-mode: forwards;
}
@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}
@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		transform: scale(1.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes disappear{
    0%{
        height: 50%;
    }
    100%{
        height: 0;
    }
}
@media (max-width: 60rem){
    .landing{overflow:hidden;}
    .landing .grid{ grid-template-rows: 100vh; position:relative;}
    .landing .logo{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index:9999999999;
        text-align: center;
        width: 100%;
    }
    .landing .grid .logo h1{
        font-size: 2rem;
        font-family: 'Couture';
        font-weight: 200;
    }
}

/* ABOUT */
.about {
    font-family: 'Minion-Variable';
    margin: 0 auto;
    padding-bottom: 10rem;
    position: relative;
    background-color: white;
    z-index: 4;
}
.about .sec-1{
    display: grid;
    place-content: start;
    min-height: 100vh;
    position:relative;
}
.about .sec-1 .grid{
    display:grid;
    grid-template-columns: 29% auto;
    place-items: center;
    padding: 4.5%;
    column-gap: 12%;
    min-height: 100vh;
    padding-bottom: 9%;
}
.about .sec-1 .portrait{
    justify-self: start;
}
.about .sec-1 .portrait img{
    width: 100%;
    max-height:80vh;
    display: flex;
}
.about .sec-1 h1{
    font-size: 2.4vw;
    font-family: 'Elephant';
    line-height: 1;
    padding-bottom: 2.6rem;
    font-weight: 200;
    color: black;
    text-transform: uppercase;
}
.about .description p{
    font-family: 'Minion-Variable';
    text-align: justify;
    color: black;
    font-weight: 400;
    line-height: 1.57;
    font-size: 1.17vw;
    padding-right: 11%;
}
/* SECTION 2 */
.about .sec-2{
    min-height: 100vh;
    display: grid;
    place-content: center;
    position:relative;
    padding: 4.5%;
    padding-bottom: 9.5%;
}
.about .sec-2 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6%;
    place-items: center;
}
.about .sec-2 img{
    width: 100%;
}
.about .sec-2 h2{
    font-family: 'Elephant';
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3vw;
    font-weight: 200;
    padding-bottom: 3rem;
}
.about .sec-2 .column-one,
.about .sec-2 .column-three
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.8vw;
    gap: 0.3rem;
}
.about  .sec-2 .column-one{
    justify-self: center;
}
.about  .sec-2 .column-three{
    justify-self: center;
}
.about .sec-2 .gray-text {
    color: rgb(93, 93, 90);
}
.about .sec-3{
    min-height: 100vh;
    display: grid;
    place-content: start;
    position: relative;
}
.about .sec-3 .grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding:4.5%;
    min-height: 100vh;
    padding-bottom: 9%;
}
.about .sec-3 .grid-2 .description{
    padding-right: 5%;
}
.about .sec-3 .grid-2 .image{
    padding-right: 10%;
    padding-left: 6%;
    display:flex;
}
.about .sec-3 .grid-2 .image img{
    width: 100%;
}
.about .sec-3 h2{
    font-family: 'Elephant';
    color: black;
    font-size: 2.3vw;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    line-height: 1.4;
}
.about .sec-3 p{
    font-family: 'Minion-Variable';
    text-align: justify;
    color: black;
    font-weight: 400;
    line-height: 1.57;
    font-size: 1.17vw;
}
@media(min-width:100rem){
    .about .sec-1{
        height: 100vh;
    }
}
@media (max-width: 60rem){
    .about {
        padding: 0 1rem;
    }
    .about .portrait img{
        width: 100%;
        height: auto;
    }
    .about .sec-1{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        row-gap: 2rem;
    }
    .about .sec-1 .grid{
        display:grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
        margin-top: 6.4rem;
        padding-bottom: 5rem;
        padding:0;
    }
    .about .sec-1 .description{
        padding-left: 0;
    }
    .about .sec-1 h1,
    .about .sec-2 h2,
    .about .sec-3 h2{
        font-size: 1.8rem;
    }
    .about .description p{
        padding-right: 0;
    }
    .about .sec-2{
        min-height: 100vh;
        display: grid;
        place-content:center;
        padding:0;
        padding-top:5rem;
        padding-bottom: 5rem;
    }
    .about .sec-2 .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        row-gap: 2rem;
        place-items: center;
    }
    .about .sec-2 .column-one,
    .about .sec-2 .column-three
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.7rem;
        gap: 0.3rem;
    }
    .about .sec-2 .column-one{
        justify-self: center;
    }
    .about .sec-2 .column-three{
        justify-self: center;
    }
    .about .sec-3{
        padding-top:0;
        min-height: 100vh;
        display: grid;
        place-content: center;
    }
    .about .sec-3 h2{text-align: center;}
    .about .sec-3 .grid-2{
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        padding: 0;
        row-gap: 2rem;
    }
    .about .sec-3 .grid-2 .image{
        padding-right: 0;
    }
    .about .description p,
    .about .sec-3 p{
        font-size: 1rem;
    }
    .about .sec-3 .grid-2 .description{
        padding-right: 0;
        order: 2;
    }
    .about  .sec-3 .grid-2 .image{
        padding-right: 0;
        padding-left: 0;
        display:flex;
        order:1;
    }
}

/* COLLECTION */
.collection{
    margin: 0 auto;
    padding: 12rem 5rem 6rem 5rem;
    font-family: 'Minion-Variable';
    color: black;
}
.collection .header{
    height:100vh;
    position: relative;
    z-index: 4;
    background-color: white;
}
.collection .header h1{
    color: black;
    font-size: 3.3vw;
    font-weight: 400;
    line-height: 1.1;
    text-align: justify;
    padding: 0 3%;
    padding-top: 3rem;
}
.collection h2{
    font-size:1.1rem;
    font-weight: 100;
    padding-bottom: 1rem;
    font-family: 'elephant';
    line-height: 0.8;
}
.collection .riga p{
    text-align: justify;
    line-height: 1.15;
    font-size: 0.85rem;
}
.collection .grid{
    display: grid;
    grid-auto-flow: row;
    row-gap: 3rem;
}
.collection .riga{
    display: grid;
    min-height: 100vh;
    place-items: center;
    position: relative;
}
.collection .riga .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
}
.collection svg{
    cursor: pointer;
    scale:0.5;
    opacity: 0;
    transition: 300ms;
}
.collection .colonna-dx .img-slide:hover svg{
    opacity: 1;
}
.collection .slide-nav{
    display: flex;
}
.collection .plus-minus-toggle {
    cursor: pointer;
    height: 12px;
    position: relative;
    width: 12px;
    z-index:-1;
}
.collection .plus-minus-toggle::before{
    height: 1px;
    width: 12px;
    background-color: black;
    content: '';
    position: absolute;
    top: 10px;
    transform: rotate(-90deg);
    transition: transform 500ms ease;
}
.collection .plus-minus-toggle::after{
    height: 1px;
    width: 12px;
    background-color: black;
    content: '';
    position: absolute;
    top: 10px;
    transform: rotate(180deg);
    transition: transform 500ms ease;
}
.collection .active .plus-minus-toggle::before{
    transform: rotate(0);
}
.collection .active .plus-minus-toggle::after{
    transform: rotate(0);
}
.collection .list-desc{
    font-size: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position:relative;
    background-color: white;
    z-index:10;
}
.collection .list-desc h4{
    font-size: 0.85rem;
    font-weight:400;
}
.collection .list-desc p{
    font-weight: 400;
    font-size: 0.85rem;
    padding-bottom: 0.2rem;
    line-height: 1.1;
}
.collection .list-desc a{
    color: black;
}
.collection .description.active .list-desc{
    max-height: 32rem;
}
.collection .description .togg{
    cursor: pointer;
    padding: 0.7rem 0;
    padding-bottom: 1rem;
}
.collection .slide-nav{display: none; gap: 0.2rem;}
.collection .mobile{
    display: none;
}
.collection .img-slide{
    max-height:100%;
    width: 60%;
    display: flex;
    position: relative;
    user-select: none;
    justify-content: space-between;
}
.collection .img-slide svg{align-self: center}
.collection .navigator p{cursor: pointer}
.collection .img-slide img{
    max-height: 77vh;
    max-width: 33vw;
}
.collection .img-slide:hover > .navigator{
    opacity: 1;
}
#MZ1 .container{
    width:100%!important;
}
.riga .colonna-sx.desc{display:grid;}
.riga.reverse .colonna-dx.desc{display:grid;}
.collection{max-width: 100%!important; padding:0!important;}
.collection .riga .container{
    margin-top: 0!important;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
    height:100%;
    padding: 4.5%;
}
.colonna-sx{
    padding: 0 !important;
}
.colonna-dx{
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.img-slide img{
    max-height: 60rem;
}
.collection .bespoke p{
    text-align: left;
}







@media(min-width:100rem){
    .container{
        grid-template-columns: 22% auto;
    }
    .container{
        grid-template-columns: 22% auto;
    }
}
@media (max-width: 60rem){
    .collection-grid{
        row-gap: 1rem;
    }
    .collection .header{
        height: auto;
    }
    .collection .header h1{
        font-size: 1.35rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .collection .riga{
        min-height: auto;
    }
    .collection .riga .container{
        grid-template-columns: 100%;
        grid-template-rows: 20rem auto;
        row-gap: 2rem;
        padding: 0 1rem;
    }
    .collection .riga .container .img-slide{
        width: 100%;
        height: 100%;
        height: 20rem;
    }
    .collection .img-slide img{
        max-height:100%;
        height: 20rem;
        width: auto;
        max-width: 100%;
    }
    #AL1 img.larga,
    #AL2 img.larga{
        height: 15rem;
        position: relative;
        top: 2.5rem;
    }
    .collection .riga .colonna-dx{
        order:1;
    }
    .collection .riga .colonna-sx{
        order:2;
    }
}

/* MANUFACTURING */
.manufact {
    padding: 0 4.5%;
    padding-top: 3rem;
    font-family: 'Minion-Variable';
    color: black;
    position: relative;
    background-color: white;
    z-index: 4;
}
.manufact .manufacturing{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 2rem;
}
.manufact .materials{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.manufact .header {
    min-height:100vh;
    padding-top: 3rem;
}
.manufact .header h1{
    color: black;
    font-size: 2.14vw;
    font-weight: 400;
    line-height: 1.1;
    padding-bottom: 5rem;
    text-align: justify;
}
.manufact h2{
    font-family: 'Elephant';
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.1;
    padding-top: 3rem;
}
.manufact h3{
    font-family: 'Elephant';
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 100;
    padding-bottom: 1.2rem;
}
.manufacturing h4,
.materials h4{
    font-size:1.1rem;
    font-weight: 100;
    padding-bottom: 1rem;
    font-family: 'elephant';
    text-transform: uppercase;
}
.manufact  p{
    text-align: justify;
    font-size: 1rem;
}
.manufact img{
    width: 100%;
}
.manufact .manufacturing .grid {
    min-height: 100vh;
    padding-top: 4.5%;
}
.manufact .materials .grid {
    min-height: 100vh;
    padding-top: 4.5%;
}

.manufact .manufacturing .grid .hand{
    display: grid;
    grid-template-columns: 56% 36%;
    column-gap: 8%;
}
.manufact .manufacturing .grid .dyeing{
    display: grid;
    grid-template-columns: 41.5% 50%;
    column-gap: 8.5%;
}
.manufact .manufacturing .grid .graph{
    display: grid;
    grid-template-columns: 50% 42%;
    column-gap: 8%;
}
.manufact .manufacturing .grid .tufting{
    display: grid;
    grid-template-columns: 43.3% 50%;
    column-gap: 6.7%;
}
.manufact .manufacturing .grid .carving{
    display: grid;
    grid-template-columns: 48% 41.4%;
    column-gap: 10.6%;
}
.manufact .materials .grid .wool{
    display: grid;
    grid-template-columns: 38.8% 41.2%;
    column-gap: 20%;
}
.manufact .materials .grid .silk{
    display: grid;
    grid-template-columns: 41.2% 49.8%;
    column-gap: 9%;
}
.manufact .materials .grid .plastic{
    display: grid;
    grid-template-columns: 38.7% 50%;
    column-gap: 11.3%;
}
.hand .sx,
.dyeing .dx,
.graph .sx,
.tufting .dx,
.carving .sx,
.wool .sx,
.silk .dx,
.plastic .sx{
    display: flex;
}
@media (max-width: 75rem){
    .manufact {
        padding: 0 2rem;
    }
}
@media (max-width: 60rem){
    .manufact {
        padding: 0 1rem;
        padding-bottom: 5rem;
    }
    .manufact .header h1{
        padding-top: 7rem;
        font-size: 1.07rem;
        padding-bottom:3rem;
    }
    .manufact .manufacturing{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
    }
    .manufact .manufacturing .grid {
        min-height: auto;
        padding: 0;
    }
    .manufact .materials .grid {
        min-height: auto;
        padding: 0;
    }
    .manufact .materials{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .manufact h2{text-align:center; padding-top:0;}
    .manufact .manufacturing .grid .hand{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .manufacturing .grid .dyeing{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .manufacturing .grid .graph{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .manufacturing .grid .tufting{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .manufacturing .grid .carving{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .materials .grid .wool{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .materials .grid .silk{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .materials .grid .plastic{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }
    .manufact .reverse .dx{
        order: 1;
    }
    .manufact .reverse .sx{
        order: 2;
    }
}

/* CONTACT */
.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4.5%;
    font-family: 'Minion-Variable';
    color: black;
    position: relative;
    background-color: white;
    z-index: 4;
}
.wrap{height: 100%;}
.contact section{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    justify-content: flex-end;
    height: 100%;
}
.contact .right-col{height: 100%;}
.contact section img{
    height: 100%;
}
.contact section .left-col > div{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    line-height: 1.3;
}
.contact section .left-col .bold{
    font-weight: 600;
}
.contact .email a,
.contact .telefono a{
    color: black;
}
.contact .title h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 1.2rem;
}
@media (max-width: 70rem){
    .contact {
        padding: 0 2rem;
    }
}
@media (max-width: 60rem){
    .contact {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 90rem;
        margin: 0 auto;
        padding: 0 1rem;
        padding-top: 3rem;
        font-family: 'minion';
    }
    .contact section{
        padding: 1rem 0;
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }
    .contact section img{
        max-width: 25rem;
        width: 100%;
        padding: 0 1rem;
    }
}
@media (max-width: 40rem){
    .contact section img{
        width: 100%;
        max-width: 100rem;
    }
    .contact {
        padding: 0 0;
        padding-top: 2rem;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .contact .left-col{
        padding-right: 1rem;
        padding-right: 1rem;
    }
}

/* PULSANTE BACK TO TOP */
.top-btn{
    width: 8rem;
    rotate: -90deg;
    position: fixed;
    bottom: calc(3.7rem + 3.5%);
    right: -2rem;
    cursor:pointer;
    z-index: 5;
    color:rgb(93, 93, 90);
}
.top-btn a{
    font-family: 'Minion-Variable';
    font-size: 0.9rem;
    text-transform: uppercase;
}
.top-btn a svg{
    font-size: 0.7rem;
    margin-left: 0.2rem;
    transition: 0.2s ease-in-out;
}
.top-btn a:hover svg{
    margin-left: 0.6rem;
}
#topbtn{
    opacity: 1;
    transition: opacity .4s, visibility .4s;
}
#topbtn.show{
    visibility: visible;
    opacity: 1;
}
@media (max-width:60rem){
    .top-btn{
        display: none;
    }
}

/* FOOTER */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: 'Minion-Variable';
    padding-top: 2.5rem;
    text-align: center;
    color: rgb(93, 93, 90);
    padding-bottom: 1.5rem;
    font-size: 0.9rem;
}
@media (max-width: 40rem){
    footer{
        position:relative;
        padding-top: 2.5rem;
        text-align: center;
        color: rgb(93, 93, 90);
        padding-bottom: 1rem;
        font-size: 0.9rem;
    }
}

/* SILLABAZIONE TESTO */
@media (max-width: 40rem){
    .about p,
    .collection p,
    .manufact .header h1,
    .manufact p{
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}
.about p,
.collection p{
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}







.mobileonly{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 5rem 2rem 5rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    max-width: 90rem;
    z-index:999;
}
.mobileonly .logo{
    font-size: 1.2rem;
    font-family: 'couture';
    position: relative;
    z-index: 999;
}
.mobileonly .logo a{
    color: black;
}
.mobileonly .active{
    font-weight: 700;
}
/*
.navbar a.gray-text {
    color: rgb(93, 93, 90);
}
nav ul li{
    font-family: 'Minion-Variable';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(66, 65, 61) 
} *//*
.transition-1,
.transition-2,
.transition-3,
.transition-4 {
    position: fixed;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 100svh;
    z-index: 99999;
    background-color: #10261E;
    transition: 0.2s cubic-bezier(.215, .61, .355, 1);
    opacity: 1;
}
.transition-1.is-active,
.transition-2.is-active,
.transition-3.is-active,
.transition-4.is-active {
    right: 0;
    border-radius: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transition-1 h2,
.transition-2 h2,
.transition-3 h2,
.transition-4 h2{
    font-size: clamp(2rem, 8vw, 4.5rem);
    font-family: 'couture';
    color: #5c5c5c;
    position: relative;
    font-weight: 100;
}
.transition-1.is-active h2::before,
.transition-2.is-active h2::before,
.transition-3.is-active h2::before,
.transition-4.is-active h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #DDDAD5;
    overflow: hidden;
    animation: animate 1.2s ease-in-out forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.line-up-transition{
    width: 100%;
    height: 0.65rem;
    background-color: #DDDAD5;
    position: absolute;
    top: 0;
    left:0;
}
.line-down-transition{
    width: 100%;
    height: 0.65rem;
    background-color: #DDDAD5;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

#menuToggle{
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle a{
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease;
}
#menuToggle input{
    width: 2rem;
    height: 2rem;
    position: absolute;
    opacity: 0;
    z-index: 99999999;
    -webkit-touch-callout: none;
}
#menuToggle svg{
    width: 2.4rem;
    height: 1.7rem;
    position: relative;
    z-index: 9999999;
    scale: 0.8;
    left:22%;
}
#menuIcon line{
    transition: stroke 0.3s;
}
#menuIcon .linea1{
    transition: rotate 0.3s ;
}
#menuIcon .linea3{
    transition: rotate 0.3s ;
}
#menuIcon.active line{
    stroke: #DDDAD5;
} 
#menuIcon.active .linea1{
    transform-origin: 3% 5%;
    rotate:45deg;
}
#menuIcon.active .linea2{
    display: none;
}
#menuIcon.active .linea3{
    transform-origin: 15% 80%;
    rotate:-45deg;
} 
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #DDDAD5;
    position: relative;
    z-index: 1000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    background-color: #10261E;
    position: absolute;
    max-width: 90rem;
    width: 100vw;
    height: 120vh;
    padding: 50px;
    top: -2.9rem;
    right: -5rem;
    padding-top: 30vh;
    padding-left: 5rem;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 50% 50%;
    transform: translate(300%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 999;
    box-shadow: -1px 0px 0px 1000px #10261E;
}
#menu h2{
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #DDDAD5;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'couture';
}
#menu li{
    padding-bottom: 1.5rem;
}
#menu li a{
    font-size: 4.5rem;
    color: #DDDAD5;
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
#menu li a:hover{
    color: #a8a5a1;
}
#menuToggle input:checked ~ ul{ transform: none; }

.mobileonly{opacity:0;}
.show-nav{opacity:1;}
.mobileonly{visibility: hidden;}

@media (max-width: 75rem){
    .mobileonly{
        padding: 2.2rem 2rem 1rem 2rem;
    }
    #menu{
        right: -2rem;
        padding-left: 2.5rem;
        padding-top: 28vh;
    }
    #menu li{
        padding-bottom: 2rem;
    }
    #menu li a{
        font-size: 2.2rem;
        text-transform: capitalize;
    }
}
@media (max-width: 60rem){
    .mobileonly{visibility:visible; }
    .mobileonly{
        padding: 2.2rem 1rem 1rem 1rem;
    }
    #menu{
        right: -1rem;
        padding-left: 1rem;
        box-shadow: -1px 0px 0px 1px #10261E;
        padding-top: 22vh;
    }
    #menu li a{
        font-size: 1rem;
        text-transform: uppercase;
    }
    #menu li{
        padding-bottom: 0.8rem;
    }
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}

.cursor{
    position: absolute;
    z-index: 99;
    user-select: none;
    pointer-events: none;
    transition-duration: 75ms;
    transition-timing-function: ease-out;
}
.cursor svg{
    position: absolute;
    bottom: -50%;
    right: -50%;
    transform: translate(50%, 50%);
    transition-duration: 500ms;
}
.cursor svg circle{
    transition-duration: 500ms;
}
.attivato svg{
    width: 96px;
    height: 96px;
}
.attivato svg circle{
    cx: 48;
    cy: 48;
    r: 20;
}

@media (max-width: 60rem){
    .cursor{
        display:none;
    }
}