main{
    max-width: 90rem;
    margin: 0 auto;
    padding: 7rem 5rem 6rem 5rem;
    padding-top: 12rem;
    font-family: 'Minion-Variable';
}
main .header{
    padding-bottom: 8rem;
}
main .header h1{
    color: black;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
}
section{
    margin-bottom: 8rem; 
}

/* MAZE */
.maze{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.maze .left{
    display: grid;
    place-content: center;
    height: 52rem;
}
.maze .right{
    padding: 0 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.maze .left .navigator{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.maze .left img{
    max-width: 100%;
    max-height: 48rem;
}
.maze .left .navigator span{
    display: flex;
    gap: 1ch;
}
.maze .description-maze{ list-style: none;}
.maze .description-maze li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.maze .parent-container .question{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 15px;
    transition: color 0.5s ease;
    cursor: pointer;
}
.maze .parent-container .info{
    font-size: 1rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.maze .faq li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
}
.maze .info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.maze .info h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
.maze .info p{
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}
.maze .slide-nav{display: flex; gap: 0.2rem;}
.maze .navigator i{
    cursor: pointer;
}



/* CASABLANCA */
.casablanca{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.casablanca .left{
    padding: 0 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.casablanca .description-maze{ list-style: none;}
.casablanca .description-maze li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.casablanca .parent-container .question{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 15px;
    transition: color 0.5s ease;
    cursor: pointer;
}
.casablanca .parent-container .info{
    font-size: 1rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.casablanca .faq li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
}
.casablanca .info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.casablanca .info h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
.casablanca .info p{
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}
.casablanca .right{
    display: grid;
    place-content: center;
    height: 52rem; 

}
.casablanca .right .navigator{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.casablanca .right img{
    max-width: 100%;
    max-height: 48rem;
}
.casablanca .right .navigator span{
    display: flex;
    gap: 1ch;
}
.casablanca .slide-nav{display: flex; gap: 0.2rem;}
.casablanca .navigator i{
    cursor: pointer;
}


/* TITO */
.tito{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tito .left{
    display: grid;
    place-content: center;
    height: 52rem;
}
.tito .right{
    padding: 0 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tito .left .navigator{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.tito .left img{
    max-width: 100%;
    max-height: 48rem;
}
.tito .left .navigator span{
    display: flex;
    gap: 1ch;
}
.tito .description-tito{ list-style: none;}
.tito .description-tito li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.tito .parent-container .question{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 15px;
    transition: color 0.5s ease;
    cursor: pointer;
}
.tito .parent-container .info{
    font-size: 1rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.tito .faq li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
}
.tito .info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.tito .info h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
.tito .info p{
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}
.tito .slide-nav{display: flex; gap: 0.2rem;}
.tito .navigator i{
    cursor: pointer;
}


/* ARASHI */
.arashi{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.arashi .left{
    padding: 0 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.arashi .description-maze{ list-style: none;}
.arashi .description-maze li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.arashi .parent-container .question{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 15px;
    transition: color 0.5s ease;
    cursor: pointer;
}
.arashi .parent-container .info{
    font-size: 1rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.arashi .faq li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
}
.arashi .info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.arashi .info h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
.arashi .info p{
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}
.arashi .right{
    display: grid;
    place-content: center;
    height: 52rem; 

}
.arashi .right .navigator{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.arashi .right img{
    max-width: 100%;
    max-height: 48rem;
}
.arashi .right .navigator span{
    display: flex;
    gap: 1ch;
}
.arashi .slide-nav{display: flex; gap: 0.2rem;}
.arashi .navigator i{
    cursor: pointer;
}




/* KOUYOU */
.kouyou{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.kouyou .left{
    display: grid;
    place-content: center;
    height: 52rem;
}
.kouyou .right{
    padding: 0 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.kouyou .left .navigator{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.kouyou .left img{
    max-width: 100%;
    max-height: 48rem;
}
.kouyou .left .navigator span{
    display: flex;
    gap: 1ch;
}
.kouyou .description-kouyou{ list-style: none;}
.kouyou .description-kouyou li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.kouyou .parent-container .question{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 15px;
    transition: color 0.5s ease;
    cursor: pointer;
}
.kouyou .parent-container .info{
    font-size: 1rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.kouyou .faq li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
}
.kouyou .info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.kouyou .info h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
.kouyou .info p{
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}
.kouyou .slide-nav{display: flex; gap: 0.2rem;}
.kouyou .navigator i{
    cursor: pointer;
}





/* ALMADRA */
.almadra{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.almadra .left{
    padding: 0 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.almadra .description-almadra{ list-style: none;}
.almadra .description-almadra li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.almadra .parent-container .question{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 15px;
    transition: color 0.5s ease;
    cursor: pointer;
}
.almadra .parent-container .info{
    font-size: 1rem;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.almadra .faq li.active .info {
    max-height: 100% !important;
    padding-bottom: 25px;
}
.almadra .info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.almadra .info h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
.almadra .info p{
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}
.almadra .right{
    display: grid;
    place-content: center;
    height: 52rem; 

}
.almadra .right .navigator{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.almadra .right img{
    max-width: 100%;
    max-height: 48rem;
}
.almadra .right .navigator span{
    display: flex;
    gap: 1ch;
}
.almadra .slide-nav{display: flex; gap: 0.2rem;}
.almadra .navigator i{
    cursor: pointer;
}

.top-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-btn a{
    font-family: 'Minion-Variable';
    font-size: 1.5rem;
    text-align: center;
    width: auto;
}
@media (max-width: 75rem){
    main{
        padding: 7rem 2rem 6rem 2rem;
    }
}

@media (max-width: 60rem){
    main{
        padding: 7rem 1rem 6rem 1rem;
    }
    main .header h1{
        font-size: 2rem;
    }
    .maze{
        grid-auto-flow: row;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .maze .right,
    .casablanca .left,
    .tito .right,
    .arashi .left,
    .kouyou .right,
    .almadra .left{
        padding: 0;
    }
    .maze .left,
    .casablanca .right
    .tito .left,
    .arashi .right,
    .kouyou .left,
    .almadra .right{
        height: auto; 
    }
    .casablanca{
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .tito{
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .arashi{
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .kouyou{
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .almadra{
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}