main{
    min-height: calc(100vh - 5.55rem);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 5rem;
    padding-top: 3rem;
    font-family: 'minion';
    color: black;
}
section{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    justify-content: flex-end;
}
section img{
    padding-top: 2rem;
    width: clamp(15rem, 30vw, 35rem);
}
section .left-col > div{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
section .left-col .bold{
    font-weight: 600;
}
footer{
    position: relative;
    z-index: -1;
}
.email a{
    color: black;
}



@media (max-width: 70rem){
    main{
        padding: 0 2rem;
    }
}
@media (max-width: 60rem){
    main{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 90rem;
        margin: 0 auto;
        padding: 0 1rem;
        padding-top: 3rem;
        font-family: 'minion';
    }
    section{
        padding: 1rem 0;
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }
    section img{
        max-width: 25rem;
        width: 100%;
    }
    footer{
        position:relative;
        padding-top: 2.5rem;
        text-align: center;
        color: rgb(63, 63, 63);
        padding-bottom: 2rem;
        font-size: 0.9rem;
    }
}
@media (max-width: 40rem){
    section img{
        width: 100%;
        max-width: 100rem;
    }
    main{
        padding: 0 0;
        padding-top: 2rem;
        justify-content: center;
        width: 100%;
    }
    .left-col{
        padding-right: 1rem;
    }
}