main{
    overflow:hidden;
}
.grid{
    display: grid;
    grid-template-columns: 1fr auto;
}
.grid .immagine {
    height: 100vh;
}
.grid .immagine img{
    height: 100%;
}
.grid .logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.grid .logo h1{
    font-family: 'Couture';
    font-size: 3rem;
}