main{
    min-height: calc(100vh - 2.7rem);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 5rem;
    padding-top: 3rem;
    font-family: 'minion';
}
section{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    justify-content: flex-end;
}
section img{
    padding-top: 2rem;
    width: clamp(15rem, 30vw, 35rem);
}
section .left-col > div{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
section .left-col .bold{
    font-weight: 600;
}



@media (max-width: 75rem){
    main{
        padding: 0 2rem;
    }
}
@media (max-width: 60rem){
    main{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 90rem;
        margin: 0 auto;
        padding: 0 1rem;
        padding-top: 3rem;
        font-family: 'minion';
    }
    section{
        padding: 1rem 0;
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }
    section img{
        max-width: 25rem;
        width: 100%;
    }
}