/* FONT */
@font-face {
    font-family: "couture";
    src: url("font/couture.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "minion";
    src: url("font/Minion-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "minion";
    src: url("font/MinionPro-Semibold.woff") format("woff");
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #121212;
    --color-2: #fff;
    --color-3: #FF3562;
    --fs-large-title: 2.125rem;
    --fs-title-1: 1.75rem;
    --fs-title-2: 1.375rem;
    --fs-title-3: 1.25rem;
    --fs-body: 1.063rem;
    --fs-subhead: 0.938rem;
    --fs-caption: 0.75rem;
}
#desktop{
    width: 100vw;
    min-height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 7vw;
}
#desktop h1{
    font-family: 'couture';
    font-size: 2.5rem;
}
a{
    text-decoration: none;
    color: black;
}
#desktop nav{
    align-self: flex-end;
    padding-bottom: 7vh;
}
#desktop nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
#desktop nav ul li{
    font-family: 'minion';
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
#desktop img{
    width: 30rem;
    align-self: flex-end;
}
#mobile{
    display: none;
}





@media (max-width: 60rem){
    #desktop{
        display: none;
    }
    #mobile{
        display: block;
        overflow-x: hidden;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.25rem 4vw 1rem 4vw;
        position: fixed;
        width: 100%;
        background-color: white;
    }
    .navbar .logo{
        font-size: 1.4rem;
        font-family: 'couture';
    }
    .line-up{
        width: 100%;
        height: 1rem;
        background-color: #231F20;
        position: fixed;
        top: 0;
        left:0;
        z-index: 99;
    }
    .line-down{
        width: 100%;
        height: 1rem;
        background-color: #231F20;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
    #menuToggle{
        position: relative;
        z-index: 5;
        -webkit-user-select: none;
        user-select: none;
        bottom: 2px;
    }
    #menuToggle a{
        text-decoration: none;
        color: #DDDAD5;
        transition: color 0.3s ease;
        font-family: 'minion';
        font-weight: 400;
        text-transform: uppercase;
        font-size: 2rem;
    }
    #menuToggle a:hover{
        color: #5c5c5c;
    }
    #menuToggle input{
        width: 40px;
        height: 20px;
        position: absolute;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span{
        display: block;
        width: 36px;
        height: 2px;
        position: relative;
        background: #111;
        z-index: 1;
        transform-origin: 14px -5px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #menuToggle span:first-child{
        transform-origin: 0% 100%;
        margin-bottom: 0.5rem;
    }
    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
        margin-top: 0.5rem;
    }
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #DDDAD5;
    }
    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu{
        background-color: #10261E;
        position: absolute;
        width: 120vw;
        height: 100vh;
        padding: 50px;
        top: -50px;
        right: -20vw;
        padding-top: 23vh;
        padding-right: 10%;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 50% 50%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu li{
        padding-bottom: 25px;
    }
    #menu li a{
        font-size: 1.2rem;
        color: #DDDAD5;
        font-weight: 600;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    }
    #menu li a:active{
        opacity: 0.8;
    }
    #menuToggle input:checked ~ ul{ transform: none; }
    #invisible{
        opacity: 0;
    }
    .hero-image{
        padding-top: 4.65rem;
    }
    .hero-image img{
        width: 100vw;
    }
    footer{
        padding-top: 2.5rem;
        text-align: center;
        color: rgb(63, 63, 63);
        padding-bottom: 1.5rem;
    }
    .gray-text{
        color: #69696f;
    }
}












