main{
    max-width: 70rem;
    margin: 0 auto;
    padding: 7rem 0 6rem 0;
    padding-top: 12rem;
}
section{
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card .image{
    width: 21rem;
    height: 26rem;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .title{
    font-weight: 600;
}
.card .image img{
    max-width: 16rem;
    max-height: 21rem;
}

@media (max-width: 60rem){
    section{
        gap: 3rem;
    }
}