*{padding:0; margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;}
main{
    max-width:90rem;
    height: 1000px;
    margin: 0 auto;
    background-color: red;
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 5rem 2rem 5rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    max-width: 90rem;
    z-index:999;
}
.navbar .logo{
    font-size: 1.2rem;
    font-family: 'couture';
    position: relative;
    z-index: 999;
}
.active{
    font-weight: 700;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
a{
    text-decoration: none;
    color: #40413D;
}
.navbar a {
    color: black;
}
#menuToggle{
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle a{
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease;
}
#menuToggle input{
    width: 26px;
    height: 25px;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 26px;
    height: 1px;
    margin-bottom: 6px;
    position: relative;
    background: #40413D;
    z-index: 1;
    transform-origin: 4px -1px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #DDDAD5;
    position: relative;
    z-index: 1000;
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    background-color: #10261E;
    position: absolute;
    max-width: 90rem;
    width: 100vw;
    height: 120vh;
    padding: 50px;
    top: -2.9rem;
    right: -5rem;
    padding-top: 23vh;
    padding-left: 5rem;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 50% 50%;
    transform: translate(300%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 99;
    box-shadow: -1px 0px 0px 1000px #10261E;
}
#menu h2{
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #DDDAD5;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'couture';
}
#menu li{
    padding-bottom: 0.8rem;
}
#menu li a{
    font-size: 1rem;
    color: #DDDAD5;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
#menuToggle input:checked ~ ul{ transform: none; }
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media (max-width: 75rem){
    .navbar{
        padding: 2.2rem 2rem 1rem 2rem;
    }
    #menu{
        right: -2rem;
        padding-left: 2rem;
    }
}
@media (max-width: 60rem){
    .navbar{
        padding: 2.2rem 1rem 1rem 1rem;
    }
    #menu{
        right: -1rem;
        padding-left: 1rem;
        box-shadow: -1px 0px 0px 100px #10261E;
    }
}